###
secring.*
**/.gnupg/*.gpg
###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
###
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
###
/dist
/.mf
###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
###
*.jpg
*.jpeg
*.gif
*.raw
*.webp
*.png
*.svg
*.pdf
*.ico
###
