###
secring.*
**/.gnupg/*.gpg
###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
###
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
###
/dist
/.mf
###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
###
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.png
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max
###
*.otf
*.ttf
*.woff
*.woff2
###
